
body {
  min-height: 2000px;
  padding-top: 70px;
}

button{

color: #FF0000;

border: 2px #0000FF solid;

padding: 5px 20px 5px 20px;

background-color: #FFFF99;

font-family: Comic Sans MS, Calibri, Arial;

font-size: 12px;
}
